body {
    font-family: "Playfair Display", serif, sans-serif;
    color: #f0f6fc;
    background-color: #aec3b0;
}

.navbar.scrolled {
    background-color: #c6ac8f;
    transition: background-color 500ms;
}

.photoSource {
    font-size: 1.5rem;
}

.content {
    margin: 100px 0;
}

.svgIcons {
    margin: 1.5rem;
    width: 50px;
    height: 50px;
    color: #fefae0;
}

.colorIcons {
    color: #bb3e03;
}

#mainNavbar {
    font-size: 1.5rem;
}

#mainNavbar .navbar-brand {
    color: #c5283d;
    font-weight: bold;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: #eae0d5;
}

#mainNavbar .nav-link:hover {
    color: #c5283d;
}